.so-widget-lsow-tabs-default-66fe3d72d884-28 .lsow-tabs.style4 .lsow-tab-nav .lsow-tab.lsow-active:before {
  background: #f94213;
}
.so-widget-lsow-tabs-default-66fe3d72d884-28 .lsow-tabs.style4.lsow-mobile-layout.lsow-mobile-open .lsow-tab.lsow-active {
  border-left-color: #f94213;
  border-right-color: #f94213;
}
.so-widget-lsow-tabs-default-66fe3d72d884-28 .lsow-tabs.style6 .lsow-tab-nav .lsow-tab.lsow-active a,
.so-widget-lsow-tabs-default-66fe3d72d884-28 .lsow-tabs.style7 .lsow-tab-nav .lsow-tab.lsow-active a {
  border-color: #f94213;
}
.so-widget-lsow-tabs-default-66fe3d72d884-28 .lsow-tabs.style8 .lsow-tab-nav .lsow-tab.lsow-active a {
  border-left-color: #f94213;
}